battcharge.json
[
    {
        "id": "50860d5f28322c60",
        "type": "modbus-write",
        "z": "9060c91538b7ebf6",
        "name": "SHM Write GGC UnitID 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "43090",
        "quantity": "2",
        "server": "3de61fa656f4e74e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 690,
        "y": 1140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e72e4aae73462ac4",
        "type": "buffer-parser",
        "z": "9060c91538b7ebf6",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "item1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "item2",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "74c22f3cd9e53120",
                "50860d5f28322c60"
            ]
        ]
    },
    {
        "id": "9e9b7f2ba7a539cb",
        "type": "buffer-maker",
        "z": "9060c91538b7ebf6",
        "name": "",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "item1",
                "type": "uint32be",
                "length": 1,
                "dataType": "msg",
                "data": "payload"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "e72e4aae73462ac4"
            ]
        ]
    },
    {
        "id": "74c22f3cd9e53120",
        "type": "debug",
        "z": "9060c91538b7ebf6",
        "name": "debug 73",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b829aac8349b075b",
        "type": "inject",
        "z": "9060c91538b7ebf6",
        "name": "Send GGC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1234567890",
        "payloadType": "num",
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "9e9b7f2ba7a539cb"
            ]
        ]
    },
    {
        "id": "44ba623e8dd3e9b8",
        "type": "change",
        "z": "9060c91538b7ebf6",
        "name": "nein, neu setzen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1234567890",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "9e9b7f2ba7a539cb"
            ]
        ]
    },
    {
        "id": "3307e1b56ffa40f1",
        "type": "switch",
        "z": "9060c91538b7ebf6",
        "name": "GGC noch an?",
        "property": "payload[1]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "44ba623e8dd3e9b8"
            ]
        ]
    },
    {
        "id": "4fcf1a2f68a90704",
        "type": "modbus-read",
        "z": "9060c91538b7ebf6",
        "name": "SHM read UID 1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "43090",
        "quantity": "2",
        "rate": "15",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3de61fa656f4e74e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 980,
        "wires": [
            [
                "7fac5228acbad917",
                "3307e1b56ffa40f1"
            ],
            []
        ]
    },
    {
        "id": "7fac5228acbad917",
        "type": "debug",
        "z": "9060c91538b7ebf6",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 960,
        "wires": []
    },
    {
        "id": "45177c5d3cf04822",
        "type": "function",
        "z": "9060c91538b7ebf6",
        "name": "Ladesteuerung",
        "func": "var d = new Date(msg.time);\nvar hour =d.getHours();\nvar Ladeleistung = 500;\nif (msg.payload.meterInW > 100) {\n    msg.payload = { value: [0,0], 'fc': 16, 'unitid': 2, 'address': 40149 , 'quantity': 2 };\n    //Netzbezug > 100W, Laden/Entladen frei\"\n    return msg;\n}\nif ((msg.payload.meterOutW > 50 ) && (msg.payload.batSOC >= 80) && (hour < 13)) {\n   //msg.payload.txt = \"2 Einspeisung > 50W, SOC >=80%, kein Laden/Entladen bis 15 Uhr (UTC+2)\"\n   msg.payload = { value: [65535,65535], 'fc': 16, 'unitid': 2, 'address': 40149 , 'quantity': 2 };\n    return msg; //Ladebegrenzung (-1)\n}\nif ((msg.payload.generatorW > 3000) && (msg.payload.batSOC < 80) && (msg.payload.batSOC >= 40) && hour < 10) {\n    msg.payload = { value: [65535,65535-Ladeleistung +1], 'fc': 16, 'unitid': 2, 'address': 40149 , 'quantity': 2 };\n    //Laden nur 500W vor 12 Uhr wenn PV>3000 und SOC<80%\n    //Leistung für Heizstab übrig!\n\n    return msg;\n}\n\nmsg.payload = { value: [0,0], 'fc': 16, 'unitid': 2, 'address': 40149 , 'quantity': 2 };\n//Normalbtrieb immer sonst\nreturn msg\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1280,
        "wires": [
            [
                "fae69ab6a19448a6",
                "684471680bd738d1"
            ]
        ]
    },
    {
        "id": "8627da9265d47e91",
        "type": "link in",
        "z": "9060c91538b7ebf6",
        "name": "link in 3",
        "links": [
            "d813fbb730aaac4b"
        ],
        "x": 155,
        "y": 1280,
        "wires": [
            [
                "65a93a223676b062"
            ]
        ]
    },
    {
        "id": "fae69ab6a19448a6",
        "type": "debug",
        "z": "9060c91538b7ebf6",
        "name": "debug 80",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1220,
        "wires": []
    },
    {
        "id": "65a93a223676b062",
        "type": "change",
        "z": "9060c91538b7ebf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1280,
        "wires": [
            [
                "45177c5d3cf04822",
                "4bb50bf07265a532"
            ]
        ]
    },
    {
        "id": "4bb50bf07265a532",
        "type": "debug",
        "z": "9060c91538b7ebf6",
        "name": "debug 81",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1360,
        "wires": []
    },
    {
        "id": "684471680bd738d1",
        "type": "rbe",
        "z": "9060c91538b7ebf6",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 730,
        "y": 1280,
        "wires": [
            [
                "c68a6c8816554dae",
                "d66ecb459dc116f5"
            ]
        ]
    },
    {
        "id": "c68a6c8816554dae",
        "type": "debug",
        "z": "9060c91538b7ebf6",
        "name": "debug 83",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1220,
        "wires": []
    },
    {
        "id": "66839d885e1715f2",
        "type": "inject",
        "z": "9060c91538b7ebf6",
        "name": "Filter reset",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 1360,
        "wires": [
            [
                "684471680bd738d1"
            ]
        ]
    },
    {
        "id": "7ca773cb9b3a8477",
        "type": "debug",
        "z": "9060c91538b7ebf6",
        "name": "debug 84",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d66ecb459dc116f5",
        "type": "modbus-flex-write",
        "z": "9060c91538b7ebf6",
        "name": "Ladesteuerung",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "3de61fa656f4e74e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 1280,
        "wires": [
            [
                "7ca773cb9b3a8477"
            ],
            []
        ]
    },
    {
        "id": "da4d25befe1bbffb",
        "type": "buffer-parser",
        "z": "9060c91538b7ebf6",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "item1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "item2",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 550,
        "y": 1440,
        "wires": [
            [
                "4984b8263a9a40ba"
            ]
        ]
    },
    {
        "id": "171b813c25e8d116",
        "type": "buffer-maker",
        "z": "9060c91538b7ebf6",
        "name": "",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "item1",
                "type": "uint32be",
                "length": 1,
                "dataType": "msg",
                "data": "payload"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 390,
        "y": 1440,
        "wires": [
            [
                "da4d25befe1bbffb"
            ]
        ]
    },
    {
        "id": "61d42f354f96c7e3",
        "type": "inject",
        "z": "9060c91538b7ebf6",
        "name": "Aktiv 802",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "802",
        "payloadType": "num",
        "x": 230,
        "y": 1440,
        "wires": [
            [
                "171b813c25e8d116"
            ]
        ]
    },
    {
        "id": "4984b8263a9a40ba",
        "type": "modbus-write",
        "z": "9060c91538b7ebf6",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "MHoldingRegisters",
        "adr": "40151",
        "quantity": "2",
        "server": "3de61fa656f4e74e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "62c0a1871a0ebe67",
        "type": "buffer-parser",
        "z": "9060c91538b7ebf6",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "item1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "item2",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 550,
        "y": 1520,
        "wires": [
            [
                "7ecdbb19bf38aff3"
            ]
        ]
    },
    {
        "id": "62714c63d1e57ca9",
        "type": "buffer-maker",
        "z": "9060c91538b7ebf6",
        "name": "",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "item1",
                "type": "uint32be",
                "length": 1,
                "dataType": "msg",
                "data": "payload"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 390,
        "y": 1520,
        "wires": [
            [
                "62c0a1871a0ebe67"
            ]
        ]
    },
    {
        "id": "00580d669807edaa",
        "type": "inject",
        "z": "9060c91538b7ebf6",
        "name": "Inaktiv 803",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "803",
        "payloadType": "num",
        "x": 220,
        "y": 1520,
        "wires": [
            [
                "62714c63d1e57ca9"
            ]
        ]
    },
    {
        "id": "7ecdbb19bf38aff3",
        "type": "modbus-write",
        "z": "9060c91538b7ebf6",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "MHoldingRegisters",
        "adr": "40151",
        "quantity": "2",
        "server": "3de61fa656f4e74e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3de61fa656f4e74e",
        "type": "modbus-client",
        "name": "SHM2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.255",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]