Flow_SMA_v03_anonymous.json
[
    {
        "id": "213e1ef044803d25",
        "type": "tab",
        "label": "Flow SMA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4524fdf6d53e6032",
        "type": "inject",
        "z": "213e1ef044803d25",
        "name": "repeat 5sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "f15c2f4bf5a17036",
                "8fe96fc74b0702b7"
            ]
        ]
    },
    {
        "id": "068b57b1a9d6556f",
        "type": "http request",
        "z": "213e1ef044803d25",
        "name": "http sma",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "d50d0c9f.31e858",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "c901293f4b0ec08c"
            ]
        ]
    },
    {
        "id": "c901293f4b0ec08c",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "session ID",
        "func": "msg.sid = msg.payload.result.sid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "f827066827ec0877",
                "19f14fe0098875e0"
            ]
        ]
    },
    {
        "id": "2856280ada60a97d",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "Leistungswerte",
        "func": "var meterOutW = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_40463600\"][\"9\"][0].val;\nvar meterInW = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_40463700\"][\"9\"][0].val;\nvar generatorW = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_0046C200\"][\"9\"][0].val;\nvar inverterW = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_40263F00\"][\"9\"][0].val;\nvar batchargeW = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_00496900\"][\"9\"][0].val;\nvar batdischargeW = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_00496A00\"][\"9\"][0].val;\nvar batSOC = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_00295A00\"][\"9\"][0].val;\nif (generatorW < 0) {generatorW = 0}\nvar consumptW = 0;\nif (!(((meterOutW > 0) && (meterInW > 0)) || ((batdischargeW > 0) && (batchargeW > 0))))\n{\n    consumptW = generatorW + meterInW  + batdischargeW - meterOutW - batchargeW;\n}\n\nif (consumptW < 0)\n{\n   consumptW = 0; \n}\n\nmsg.payload = { meterInW, meterOutW, generatorW, batchargeW, batdischargeW, consumptW, batSOC, inverterW};\nmsg.topic = \"power-stats\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "e1edfa9fc96eccbc",
                "423f516fd94708a1",
                "dddcda389d1ac5cb",
                "9aec3264ca167cb5",
                "8f055c24fbfccfb3",
                "d813fbb730aaac4b",
                "783ca22963ce634b"
            ]
        ]
    },
    {
        "id": "e1edfa9fc96eccbc",
        "type": "debug",
        "z": "213e1ef044803d25",
        "name": "debug leistung",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "423f516fd94708a1",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "P Verbrauch",
        "func": "msg.payload = msg.payload.consumptW;\nmsg.topic = \"consumptW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "b35234c906d3ca02"
            ]
        ]
    },
    {
        "id": "314a9b1a74951121",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "Einspeisezähler",
        "func": "msg.payload = msg.payload.exportedWh;\nmsg.topic = \"exportedWh\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "de409980fdf1bfee",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "Bezugszähler",
        "func": "msg.payload = msg.payload.importedWh;\nmsg.topic = \"importedWh\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f827066827ec0877",
        "type": "debug",
        "z": "213e1ef044803d25",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "971145b84bdedda6",
        "type": "inject",
        "z": "213e1ef044803d25",
        "name": "manual logout",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "524373b57b8c3a90"
            ]
        ]
    },
    {
        "id": "ba0eee38f973d84b",
        "type": "debug",
        "z": "213e1ef044803d25",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "09cd91f579ef1733",
        "type": "ha-sensor",
        "z": "213e1ef044803d25",
        "name": "PV_erzeugung",
        "entityConfig": "d3ef125642c94d51",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1250,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "250513e7808048c7",
        "type": "ha-sensor",
        "z": "213e1ef044803d25",
        "name": "Spannung Array Sued",
        "entityConfig": "51f101ed78c2ad8d",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1150,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d228c0eb3b181e27",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "Erzeugungszähler",
        "func": "msg.payload = parseInt(msg.payload.generatedWh);\nmsg.topic = \"generatedWh\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c0ee6a958014d3",
        "type": "influxdb out",
        "z": "213e1ef044803d25",
        "influxdb": "1ab063217b34dd11",
        "name": "PV-Anlage Energiewerte",
        "measurement": "energy-stats",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ade3c88ba6f6690e",
        "bucket": "PV-Anlage",
        "x": 1020,
        "y": 800,
        "wires": []
    },
    {
        "id": "d057a85bbbef112e",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "Energiewerte",
        "func": "//var priceIn = msg.payload.price\nvar exportedWh = msg.payload.result[\"01B8-xxxxx3B2\"][\"6400_00462400\"][\"9\"][0].val;\nvar importedWh = msg.payload.result[\"01B8-xxxxx3B2\"][\"6400_00462500\"][\"9\"][0].val;\nvar generatedWh = msg.payload.result[\"01B8-xxxxx3B2\"][\"6400_0046C300\"][\"9\"][0].val;\nvar batchargeWh = msg.payload.result[\"01B8-xxxxx3B2\"][\"6400_00496700\"][\"9\"][0].val;\nvar batdischargeWh = msg.payload.result[\"01B8-xxxxx3B2\"][\"6400_00496800\"][\"9\"][0].val;\n//var priceIn = 0.25; //Einkauf kWh\n//var priceOut = 0.082 //Einspeisevergütung\nmsg.payload = { exportedWh, importedWh, generatedWh, batchargeWh, batdischargeWh};\nmsg.topic = \"energy-stats\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 700,
        "wires": [
            [
                "e5b7e150925150de"
            ]
        ]
    },
    {
        "id": "3783ad129109a062",
        "type": "debug",
        "z": "213e1ef044803d25",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 820,
        "wires": []
    },
    {
        "id": "e5b7e150925150de",
        "type": "change",
        "z": "213e1ef044803d25",
        "name": "kWh-Einkauf, Einspeisevergütung",
        "rules": [
            {
                "t": "set",
                "p": "payload.priceIn",
                "pt": "msg",
                "to": "0.35",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.priceOut",
                "pt": "msg",
                "to": "0.082",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 760,
        "wires": [
            [
                "3783ad129109a062",
                "314a9b1a74951121",
                "de409980fdf1bfee",
                "d228c0eb3b181e27",
                "d2c0ee6a958014d3"
            ]
        ]
    },
    {
        "id": "dddcda389d1ac5cb",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "P Erzeugung",
        "func": "msg.payload = msg.payload.generatorW;\nmsg.topic = \"generatorW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 380,
        "wires": [
            [
                "09cd91f579ef1733"
            ]
        ]
    },
    {
        "id": "96bd9f6eb48dc2f2",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "DC Messungen",
        "func": "var voltageA = msg.payload.result[\"01B8-xxxxx3B2\"][\"6380_40451F00\"][\"1\"][0].val/100;\nvar voltageB = msg.payload.result[\"01B8-xxxxx3B2\"][\"6380_40451F00\"][\"1\"][1].val/100;\nvar powerA = msg.payload.result[\"01B8-xxxxx3B2\"][\"6380_40251E00\"][\"1\"][0].val;\nvar powerB = msg.payload.result[\"01B8-xxxxx3B2\"][\"6380_40251E00\"][\"1\"][1].val;\nvar currentA = msg.payload.result[\"01B8-xxxxx3B2\"][\"6380_40452100\"][\"1\"][0].val/1000;\nvar currentB = msg.payload.result[\"01B8-xxxxx3B2\"][\"6380_40452100\"][\"1\"][1].val/1000;\nvar reactiveP_L1 = msg.payload.result[\"01B8-xxxxx3B2\"][\"6100_40466C00\"][\"9\"][0].val;\nmsg.payload = { voltageA, voltageB, powerA, powerB, currentA, currentB, reactiveP_L1};\nmsg.topic = \"PV_stats\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 880,
        "wires": [
            [
                "76d17e15d627c0e9",
                "c1cba41dbc5af5c4",
                "c218ab25d6cb7d2f",
                "d86df43339f674cf",
                "143d65de2a994afa",
                "b90e569df56590cd"
            ]
        ]
    },
    {
        "id": "76d17e15d627c0e9",
        "type": "debug",
        "z": "213e1ef044803d25",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c1cba41dbc5af5c4",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "VoltageA",
        "func": "msg.payload = msg.payload.voltageA\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 880,
        "wires": [
            [
                "250513e7808048c7"
            ]
        ]
    },
    {
        "id": "b35234c906d3ca02",
        "type": "ha-sensor",
        "z": "213e1ef044803d25",
        "name": "Verbrauch",
        "entityConfig": "59a83d68712dc87c",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9aec3264ca167cb5",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "Eigenverbrauchsquote",
        "func": "msg.payload = ((msg.payload.generatorW -  msg.payload.meterOutW)/msg.payload.consumptW*100).toFixed(0) +\"%\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c218ab25d6cb7d2f",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "VoltageB",
        "func": "msg.payload = msg.payload.voltageB\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 940,
        "wires": [
            [
                "28d2b9a7267d4071"
            ]
        ]
    },
    {
        "id": "28d2b9a7267d4071",
        "type": "ha-sensor",
        "z": "213e1ef044803d25",
        "name": "Spannung Array Ost",
        "entityConfig": "446ef4897ddbd86a",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1150,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d86df43339f674cf",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "PowerA",
        "func": "msg.payload = msg.payload.powerA\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "fe5a37c8d932c86b"
            ]
        ]
    },
    {
        "id": "fe5a37c8d932c86b",
        "type": "ha-sensor",
        "z": "213e1ef044803d25",
        "name": "Power Array Süd",
        "entityConfig": "c9d027335b1529fd",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1140,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "143d65de2a994afa",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "PowerB",
        "func": "msg.payload = msg.payload.powerB\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "58d27b8f704a4368"
            ]
        ]
    },
    {
        "id": "58d27b8f704a4368",
        "type": "ha-sensor",
        "z": "213e1ef044803d25",
        "name": "Power Array Ost",
        "entityConfig": "1176130d62599dcc",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1130,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "8f055c24fbfccfb3",
        "type": "influxdb out",
        "z": "213e1ef044803d25",
        "influxdb": "1ab063217b34dd11",
        "name": "PV_Anlage Leistungs",
        "measurement": "power-stats",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ade3c88ba6f6690e",
        "bucket": "PV-Anlage",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "b90e569df56590cd",
        "type": "influxdb out",
        "z": "213e1ef044803d25",
        "influxdb": "1ab063217b34dd11",
        "name": "PV-Anlage DC-Messungen",
        "measurement": "pv-stats",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ade3c88ba6f6690e",
        "bucket": "PV-Anlage",
        "x": 910,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f15c2f4bf5a17036",
        "type": "link out",
        "z": "213e1ef044803d25",
        "name": "Trigger SMA readout",
        "mode": "link",
        "links": [
            "b0f92e848e26cfd3"
        ],
        "x": 315,
        "y": 140,
        "wires": []
    },
    {
        "id": "11d1af4a960b4565",
        "type": "inject",
        "z": "213e1ef044803d25",
        "name": "initiate variables",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "ceee9447bb3a976e"
            ]
        ]
    },
    {
        "id": "ceee9447bb3a976e",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "define your credentials here",
        "func": "//Note: your credential data is saved in plain text! So if you share this code you should double check that you removed your credentials from here.\n\nvar username=\"usr\"; //This the fixed username for the sma inverter api\nvar password =\"\"; //This is your individual password\nvar inverter_hostname=\"smaxxxxxx\"; //usually \"sma<serial number>\"\n\nflow.set(\"inverter_username\", username);\nflow.set(\"inverter_password\", password)\nflow.set(\"inverter_hostname\", inverter_hostname);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8fe96fc74b0702b7",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "prepare login",
        "func": "msg.headers = {};\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\n//msg.payload = '{\"right\": \"usr\", \"pass\": \"' + flow.get(\"inverter_password\") + '\"}';\nmsg.payload = '{\"right\": \"' + flow.get(\"inverter_username\") + '\", \"pass\": \"' + flow.get(\"inverter_password\") + '\"}';\nmsg.url = \"https://\" + flow.get(\"inverter_hostname\") + \"/dyn/login.json\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "068b57b1a9d6556f"
            ]
        ]
    },
    {
        "id": "19f14fe0098875e0",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "prepare all keys",
        "func": "msg.headers = {};\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://\" + flow.get(\"inverter_hostname\") + \"/dyn/getAllOnlValues.json?sid=\" + msg.sid\nmsg.payload = '{\"destDev\": []}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 500,
        "wires": [
            [
                "6f8c3274bc9917ad"
            ]
        ]
    },
    {
        "id": "6f8c3274bc9917ad",
        "type": "http request",
        "z": "213e1ef044803d25",
        "name": "http sma",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "d50d0c9f.31e858",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "2856280ada60a97d",
                "ba0eee38f973d84b",
                "d057a85bbbef112e",
                "96bd9f6eb48dc2f2",
                "524373b57b8c3a90"
            ]
        ]
    },
    {
        "id": "a59af560a771728a",
        "type": "http request",
        "z": "213e1ef044803d25",
        "name": "http sma",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "d50d0c9f.31e858",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "524373b57b8c3a90",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "prepare logout",
        "func": "msg.headers = {};\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = \"{\\\"right\\\":\\\"usr\\\",\\\"pass\\\":\" + \"\\\"\" + flow.get(\"inverter_password\") + \"\\\"\" + \"}\";\nmsg.url = \"https://\" + flow.get(\"inverter_hostname\") + \"/dyn/logout.json?sid=\" + msg.sid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 620,
        "wires": [
            [
                "a59af560a771728a"
            ]
        ]
    },
    {
        "id": "70c68937583c61c3",
        "type": "function",
        "z": "213e1ef044803d25",
        "name": "prepare defined keys",
        "func": "msg.headers = {};\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://\" + flow.get(\"inverter_hostname\") + \"/dyn/getValues.json?sid=\" + msg.sid\nconst sma_keys = [\n    \"6100_40463600\", \n    \"6100_40463700\", \n    \"6100_0046C200\", \n    \"6100_00496900\", \n    \"6100_00496A00\", \n    \"6100_00295A00\", \n    \"6400_00462400\", \n    \"6400_00462500_0\", \n    \"6380_40451F00\", \n    \"6380_40251E00\", \n    \"6380_40452100\", \n    \"6400_0046C300\", \n    \"6400_00496700\", \n    \"6400_00496800\"\n]\nvar result = '\"' + sma_keys[0] + '\"'\nfor (let i = 1; i < sma_keys.length; i++) {\n    result = result + ', \"' + sma_keys[i] + '\"'\n}\nmsg.payload = '{\"destDev\": [], \"keys\": [' + result + ']}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 400,
        "wires": [
            [
                "6f8c3274bc9917ad"
            ]
        ]
    },
    {
        "id": "c3ff4c8ab3c0aac6",
        "type": "comment",
        "z": "213e1ef044803d25",
        "name": "uncheck \"Verify server certificate\" in (empty) TLS config",
        "info": "",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "d813fbb730aaac4b",
        "type": "link out",
        "z": "213e1ef044803d25",
        "name": "Power inverter",
        "mode": "link",
        "links": [
            "0de0d489454a0677"
        ],
        "x": 975,
        "y": 320,
        "wires": []
    },
    {
        "id": "783ca22963ce634b",
        "type": "ha-sensor",
        "z": "213e1ef044803d25",
        "name": "WR AC power",
        "entityConfig": "42cdb9d90eaf35a4",
        "version": 0,
        "state": "payload.inverterW",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "d3ef125642c94d51",
        "type": "ha-entity-config",
        "server": "73f91ee1819febd9",
        "deviceConfig": "",
        "name": "Sensor config PV power",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PVLeistung"
            },
            {
                "property": "icon",
                "value": "mdi:gauge"
            },
            {
                "property": "entity_category",
                "value": "config"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "unit_of_measurement",
                "value": "W"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "51f101ed78c2ad8d",
        "type": "ha-entity-config",
        "server": "73f91ee1819febd9",
        "deviceConfig": "",
        "name": "Sensor config VoltageA",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Voltage_A"
            },
            {
                "property": "icon",
                "value": "mdi:gauge"
            },
            {
                "property": "entity_category",
                "value": "config"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "voltage"
            },
            {
                "property": "unit_of_measurement",
                "value": "V"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1ab063217b34dd11",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Influxdb2_PV",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.49:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "59a83d68712dc87c",
        "type": "ha-entity-config",
        "server": "73f91ee1819febd9",
        "deviceConfig": "",
        "name": "Sensor config Verbrauch",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Hausverbrauch"
            },
            {
                "property": "icon",
                "value": "mdi:gauge"
            },
            {
                "property": "entity_category",
                "value": "config"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "unit_of_measurement",
                "value": "W"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "446ef4897ddbd86a",
        "type": "ha-entity-config",
        "server": "73f91ee1819febd9",
        "deviceConfig": "",
        "name": "Sensor config Voltage B",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Spannung Array Ost"
            },
            {
                "property": "icon",
                "value": "mdi:gauge"
            },
            {
                "property": "entity_category",
                "value": "config"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "voltage"
            },
            {
                "property": "unit_of_measurement",
                "value": "V"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "c9d027335b1529fd",
        "type": "ha-entity-config",
        "server": "73f91ee1819febd9",
        "deviceConfig": "",
        "name": "Power Array Süd",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Power Array Süd"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": "config"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "unit_of_measurement",
                "value": "W"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1176130d62599dcc",
        "type": "ha-entity-config",
        "server": "73f91ee1819febd9",
        "deviceConfig": "",
        "name": "Power Array Ost",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Power array Ost"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": "config"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "unit_of_measurement",
                "value": "W"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "42cdb9d90eaf35a4",
        "type": "ha-entity-config",
        "server": "73f91ee1819febd9",
        "deviceConfig": "",
        "name": "",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "WRpowerAC"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": "config"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "unit_of_measurement",
                "value": "W"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "73f91ee1819febd9",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    }
]